---
import BlogPost from '../components/BlogPost.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

// const allPosts = await Astro.glob("../pages/posts/*.md");
const allPosts = await getCollection('posts')
const pageTitle = 'Astro blog'
---

<BaseLayout pageTitle={pageTitle}>
  <p>Est id dolor dolor sunt ex.</p>
  <ul>
    {
      allPosts.map((post) => (
        // <BlogPost url={post.url} title={post.frontmatter.title} />
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
